.image-with-text .grid {
  margin-bottom: 0;
}

.image-with-text .grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text__media {
  min-height: 100%;
  overflow: visible;
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}

.image-with-text__media--placeholder:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-foreground), 0.04);
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 0;
  position: relative;
  z-index: 1;
}

.image-with-text .grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text .image-with-text__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.image-with-text .grid__item.has-second-image {
  padding-right: 17.6rem;
  padding-bottom: 17.6rem;
}

.image-with-text .image-with-text__media-item .media--second-image {
  position: absolute;
  width: 35.2rem;
  height: 35.2rem;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: visible;
}

@media screen and (max-width: 749px) {
  .image-with-text .grid__item.has-second-image {
    padding: 0;
  }

  .image-with-text .image-with-text__media-item .media--second-image {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .image-with-text .image-with-text__media-item .media--second-image:before {
    content: "";
    position: absolute;
    width: 238px;
    height: 266px;
    bottom: -50px;
    left: -128px;
    background: url(decor-1.png);
  }

  .image-with-text .image-with-text__media-item .media--second-image:after {
    content: "";
    position: absolute;
    width: 251px;
    height: 185px;
    top: -128px;
    z-index: -1;
    background: url(decor-2.png);
  }
}

.image-with-text .image-with-text__media-item .media--second-image .second_image {
  border-radius: 0.8rem;
}

@media screen and (min-width: 750px) {
  .image-with-text .grid__item.has-second-image:before {
    content: "";
    position: absolute;
    right: 5rem;
    bottom: 0;
    width: 51.2rem;
    height: 51.2rem;
    z-index: 0;
    background: #E7FAE7;
    filter: blur(5rem);
  }
}

.image-with-text .global-media-settings {
  overflow: hidden !important;
}

.image-with-text .image-with-text__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item > *,
.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media img {

  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__content {

  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap) .image-with-text__content {
    border-top: 0;
  }
}

.image-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.image-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.image-with-text--overlap .image-with-text__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse .image-with-text__content {
    margin-left: auto;
  }

  .image-with-text__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .image-with-text__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .image-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .image-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .image-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .image-with-text--overlap .image-with-text__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .image-with-text--overlap .image-with-text__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .image-with-text--overlap .image-with-text__grid--reverse .image-with-text__text-item {
    justify-content: flex-end;
  }

  .image-with-text--overlap .image-with-text__media-item--top {
    align-self: flex-start;
  }

  .image-with-text--overlap .image-with-text__media-item--middle {
    align-self: center;
  }

  .image-with-text--overlap .image-with-text__media-item--bottom {
    align-self: flex-end;
  }

  .image-with-text__media-item--small,
  .image-with-text__media-item--large + .image-with-text__text-item {
    flex-grow: 0;
  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content:after {

  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media img {

  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content {
    border-left: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content {
    border-right: 0;
  }
}

.image-with-text:not(.collapse-corners, .image-with-text--overlap) .image-with-text__media-item {
  z-index: 2;
}

.image-with-text__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

@media screen and (min-width: 990px) {
  .image-with-text__content {
    padding: 6rem 7rem 7rem;
  }
}

.image-with-text__content > * + * {
  margin-top: 2.4rem;
}

.image-with-text__text--caption {
  color: rgba(var(--color-base-accent-2));
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.25;
  font-weight: 300;
}

.image-with-text__content > .button {
  margin-top: 8.2rem;
}

.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content > :first-child:is(.image-with-text__heading),
.image-with-text__text--caption + .image-with-text__heading,
.image-with-text__text--caption:first-child {
  margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading),
.image-with-text__text--caption {
  margin-bottom: 0;
}

.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__content .image-with-text__text + .button {
  margin-top: 3rem;
}

.image-with-text__heading {
  word-break: break-word;
  margin-bottom: 4rem;
}

@media (max-width: 749px) {
  .image-with-text__heading {
    margin-bottom: 0;
  }
}

.image-with-text__text p {
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .image-with-text .grid {
    margin-left: 0;
  }
}

/* Features Intro */
.features-intro {
  width: 100%;
  margin-top: 4.8rem;
}

.features-intro .feature-item {
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: calc(var(--grid-mobile-vertical-spacing) * 2);
  display: flex;
  align-items: center;
}

.features-intro .feature-item h5 {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .image-with-text__content > .button {
    margin-top: 2.4rem;
  }
}


/*Home 2*/
.home-02-new-collection {
	padding: 0;
	max-width: 100%;
	background-color: #f9faf7;
}
.home-02-new-collection .image-with-text__grid {
	--grid-desktop-horizontal-spacing: 0px;
	--media-radius: 0px;
}
.home-02-new-collection .image-with-text__content {
  background-color: transparent !important;
}
.home-02-new-collection .features-intro h5 {
  display: none;
}
.home-02-new-collection .features-intro .feature-item:nth-child(2){
  position: relative;
}
.home-02-new-collection .features-intro .feature-item:nth-child(2) img {
  position: absolute;
  bottom: -20px;
}
.home-02-new-collection .image-with-text__content .button { 
  background: none;
  color: #000;
  padding: 0;
  font-weight: 500;
}

.home-02-new-collection .image-with-text__content .button span { 
  border-bottom: 1px solid #000;
} 
.home-02-new-collection .image-with-text__content .button:hover span {
  border-bottom: 1px solid transparent;
}
@media screen and (max-width: 979px) {
	.home-02-new-collection .image-with-text__content * { 
		text-align: center;
		justify-content: center;
	}
	.home-02-new-collection .image-with-text__content {
		display: block;
		text-align: center;
	}
	.home-02-new-collection .image-with-text__content > .button { 
		margin: 4rem 0;
	}
}

@media screen and (min-width: 980px) and (max-width: 1199px) { 
	.home-02-new-collection .image-with-text__content {
		padding: 32px;
	}
	.home-02-new-collection .image-with-text__content .features-intro img { 
		height: auto;
		width: 100%;
	}
	.home-02-new-collection .image-with-text__content .button {
		margin-top: 3.2rem;
	}
}

/* Home 3 */
.home-03-new-collection .features-intro .feature-item {
	justify-content: center;
}

.home-03-new-collection .image-with-text__grid {
	column-gap: 0;
}

.home-03-new-collection .image-with-text__content {
	background-color: #F9FAF7;
	margin-bottom: 12.8rem;
	height: auto;
	border-radius: 8px 0 0 8px;
	overflow: visible;
}

@media (max-width: 989px) {
	.home-03-new-collection .image-with-text__content {
		margin-bottom: 0;
	}
}

.home-03-new-collection .image-with-text__content .image-with-text__text--caption {
	order: 2;
	margin-bottom: 0.8rem;
}

.home-03-new-collection .image-with-text__content .image-with-text__heading {
	order: 3;
	margin-bottom: 3.2rem;
}

.home-03-new-collection .image-with-text__content .features-intro {
	order: 1;
	margin-bottom: 3.2rem;
	justify-content: center;
	margin-top: 0;
}

.home-03-new-collection .image-with-text__content .features-intro .feature-item > img {
	max-width: 100%;
	height: auto;
}

.home-03-new-collection .image-with-text__content > .button {
	order: 4;
	margin-top: 0;
}

.home-03-new-collection .image-with-text__media-item {
	margin-top: 12.8rem;
	z-index: 2;
}

.home-03-new-collection .image-with-text__text-item {
	z-index: 1;
}

.home-03-new-collection .image-with-text__media-item .image-with-text__media img,
.home-03-new-collection .image-with-text__media-item .image-with-text__media {
	border-radius: 0 8px 8px 0;
}

.home-03-new-collection .features-intro .feature-item.decor-1 {
	position: absolute;
	bottom: -12.8rem;
	right: -58px;
	justify-content: end;
}

.home-03-new-collection .features-intro .feature-item.decor-2 {
	position: absolute;
	top: auto;
	right: 0;
}

.home-03-new-collection .features-intro .feature-item.decor-2 > img {
	position: absolute;
	right: -100%;
	top: 0;
}

@media screen and (max-width: 989px) {
	.home-03-new-collection .image-with-text__media-item,
	.home-03-new-collection .features-intro .feature-item.decor-1,
	.home-03-new-collection .features-intro .feature-item.decor-2 {
		display: none;
	}

	.home-03-new-collection .image-with-text__content {
		padding: 3.2rem;
	}

	.home-03-new-collection .features-intro .feature-item {
		width: 100%;
		max-width: 100%;
	}
}