.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 25rem;
  border: 1px solid rgba(0,0,0,0.08);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  color:  rgba(var(--color-base-accent-2));
}

.list-menu__item--active:hover {
  color:  rgba(var(--color-base-accent-2));
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
