.collection-hero__inner {
    display: flex;
    flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
    margin-bottom: 0;
    padding-bottom: 2rem;
}
.collection-hero__text-wrapper {
    width: 100%;
}

@media screen and (min-width: 750px) {
    .collection-hero.collection-hero--with-image {
        overflow: hidden;
        padding: 0;
        min-height: 385px;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .collection-hero--with-image .collection-hero__inner {
        padding-bottom: 0;
        width: 100%;
    }
    .collection-hero__text-wrapper {
        width: 100%;
    }
}

@media screen and (min-width: 980px) {
    .collection-hero__text-wrapper {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .collection-hero__text-wrapper {
        width: 45%;
    }
}

.collection-hero__text-wrapper h1 {
    color: #333;
}

.collection-hero.collection-hero--with-image .collection-hero__text-wrapper h1,
.collection-hero.collection-hero--with-image .collection-hero__text-wrapper {
    color: #fff;
}

@media screen and (min-width: 750px) {
    .collection-hero {
        padding: 2.4rem 0 4.8rem;
    }
    .collection-hero__inner {
        align-items: center;
        flex-direction: row;
        padding-bottom: 0;
    }
}

.collection-hero__title {
    margin: 0;
    text-transform: uppercase;
}
.collection-hero__title span {
    background: #000;
    color: #fff;
    padding: 0 10px;
}

.collection-hero__title+.collection-hero__description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.collection-hero__title+.collection-hero__description p {
    margin-bottom: 0;
    margin-top: 5px;
}

@media screen and (min-width: 750px) {
    .collection-hero__title+.collection-hero__description {
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .collection-hero__description {
        max-width: 100%;
    }
    .collection-hero--with-image .collection-hero__description {
        max-width: 66.67%;
    }
}

.collection-hero--with-image .collection-hero__title {
    margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
    padding: 5rem 0 4rem;
}

.collection-hero__image-container {
    border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
    border-radius: var(--media-radius);
    box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
    .collection-hero__image-container {
        height: 20rem;
    }
}

@media screen and (min-width: 750px) {
    .collection-hero--with-image .collection-hero__text-wrapper {
        padding: 4rem;
        width: 100%;
    }
    .collection-hero--full-with.collection-hero--with-image .collection-hero__text-wrapper {
        padding: 0;
    }
}