@media screen and (max-width: 749px) {
  .articles-wrapper:not(.grid--2-col-tablet) .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

/* Title Blog */
.article-card .card__heading {
  margin-bottom: 1.6rem;
  letter-spacing: 0;
}

.article-card .card__heading:hover {

}

.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  padding-left: 0;
  padding-right: 0;
}

.article-card__info {
  margin-bottom: .8rem;
  font-size: 1.4rem;
  line-height: 1.6;
}

.article-card__footer {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: 4.8rem;
}

@media screen and (max-width: 749px) {
  .article-card__footer:last-child {
    margin-top: 2.4rem;
  }
}

.article-card__excerpt {
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

/* Ratio Image 2:1  */
.article-card__image--small .ratio::before {
  padding-bottom: 50%;
}

/* Ratio Image 3:2 */
.article-card__image--medium .ratio::before {
  padding-bottom: calc(66.66% + 4.8rem - .4rem) ;
}

/* Ratio Image 3:4 */
.article-card__image--large .ratio::before {
  padding-bottom: 133.33%;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 750px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}
