.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}


.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  background-color: #F9FAF7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
  border-radius: 0.8rem;
}

.pagination__item:hover {
  text-decoration: none;
  background-color: rgba(var(--color-base-text));
  color: #fff;
}

.active > .pagination__item {
  background-color: rgba(var(--color-base-accent-3));
  color: #fff;
  opacity: 1;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}

@media screen and (max-width: 639px) {
  .pagination__list li.item a,
  .pagination__list li.item {
    display: none;
  }
  .pagination__list li.active + .item { 
    display: block;
    position: relative;
  }
  .pagination__list li.active + .item::after { 
    content: '...';
    position: absolute;
    bottom: 10px;
  }

}