.collection-list {
	margin-top: 0;
	margin-bottom: 0;
}
.collection-list.grid { 
	row-gap: calc(var(--grid-desktop-vertical-spacing));
}

.collection-list-wrapper slider-component {
	white-space: nowrap;
}

.collection-list__item .card__inner {
	border-radius: var(--card-corner-radius);
	flex-direction: column;
}
.collection-list__item .card--card .card__inner .card__media {
	border-radius: var(--card-corner-radius);
}


.collection-list__item .card__content {
	--color-base-accent-1: 255,255,255;
	grid-template-rows: auto;
	border-radius: var(--card-corner-radius);
}
.collection-list__item .card__content .card__heading {
	color: rgb(var(--color-foreground));
	line-height: 1;
}
.collection-list__item .card-wrapper:hover .card__content .card__heading {
	color: rgba(var(--color-base-background-2));
}

.collection-list__item .card-wrapper .card__information {
	display: block;
	height: 100%;
	grid-row-start: unset;
	display: grid;
	text-align: center;

}

.collection-list__item .card__information .count {
	display: block;
	color: rgb(var(--color-base-text),.75);
	font-size: 1.4rem;
	line-height: 1.6;
}


/*Style for page > collections*/
@media screen and (max-width: 749px) {
	.collection-list:not(.slider) {
	}
	
	.section-collection-list .page-width {
	}

	.section-collection-list .collection-list:not(.slider) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.collection-list__item:only-child {
	max-width: 100%;
	width: 100%;
}

@media screen and (max-width: 749px) {
	.slider.collection-list--1-items {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.slider.collection-list--1-items,
	.slider.collection-list--2-items,
	.slider.collection-list--3-items,
	.slider.collection-list--4-items {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 750px) {
	.collection-list__item a:hover {
		box-shadow: none;
	}
}

@media screen and (max-width: 989px) {
	.collection-list.slider .collection-list__item {
		max-width: 100%;
	}
}

.collection-list-view-all {
	margin-top: 2rem;
}

.collection-list-wrapper slider-component .slider-buttons {
  position: static;
}

.collection-list-wrapper slider-component .slider-buttons .slider-button {
  position: absolute;
  top: 50%;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #fff;
  transform: translateY(-50%);
  transition: all var(--duration-long) ease;
  z-index: 3;
  border-radius: var(--buttons-radius-outset);
}

@media screen and (min-width: 750px) {
  .collection-list-wrapper slider-component .slider-buttons .slider-button {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.collection-list-wrapper slider-component .slider-buttons .slider-button--prev {
  left: 2.4rem;
}

.collection-list-wrapper slider-component .slider-buttons .slider-button--next {
  right: 2.4rem;
}

@media screen and (min-width: 990px) {
  .collection-list-wrapper slider-component .slider-buttons .slider-button--prev {
    left: 6.4rem;
  }

  .collection-list-wrapper slider-component .slider-buttons .slider-button--next {
    right: 6.4rem;
  }
}

@media screen and (max-width: 749px) {
	.collection-list-wrapper .grid--peek.slider .grid__item:first-of-type {
		margin-left: 0;
	}
}