.main-list-collections {
	border: 2px solid rgba(0, 0, 0, 100);
	border-top: 0;
}

.section-collection-list {
	overflow: hidden;
	max-width: 100%;
}

.collection-hero__title {
	margin: 0;
	text-transform: uppercase;
	padding-top: 64px;
	padding-bottom: 64px;
}

.collection-hero__title span {
	background: #000;
	color: #fff;
	padding: 0 10px;
}

.main-list-collections > .section {
	margin-top: 0;
}

.collection-list {
	margin-top: 0;
	margin-bottom: 0;
}

.collection-list-wrapper slider-component {
	width: 100vw;
	white-space: nowrap;
}

.collection-list__item .card--card .card__inner .card__media {
	border-radius: var(--card-corner-radius);
}

.collection-list__item .card--card.card--media .card__inner {
	border-radius: var(--card-corner-radius);
}

.collection-list__item .card--card.card--media .card__inner .card__content {
	grid-template-rows: auto;
	border-radius: var(--card-corner-radius);
}

.collection-list__item .card--card.card--media .card__inner .card__information {
	--color-base-text: 255,255,255;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 71.35%);
	padding: 3.2rem;
	display: block;
	height: 100%;
	grid-row-start: unset;
	display: grid;
	border-radius: var(--card-corner-radius);
	grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr);
}

.collection-list__item .card--card.card--media .card__inner .card__information .card__buttons {
	grid-row-start: 4;
}

.collection-list__item .card__heading a:hover {}

.collection-list__item .card__information .count {
	display: block;
	color: rgba(var(--color-base-text));
	font-size: 1.6rem;
	line-height: 1.6;
}

.collection-list__item .card__information .button {
	--color-button: var(--color-background);
	--color-button-text: 30, 41, 59;
	margin-top: var(--grid-desktop-vertical-spacing);
	padding: 1.2rem;
	min-width: 4.8rem;
}

.collection-list__item .card__information .button .icon-wrap {
	margin-left: 0;
}

.collection-list__item .card-wrapper:hover .card__heading a, 
.collection-list__item .card__heading a:hover {
	color: var(--color-button-text);
}

/*Style for page > collections*/

.collection-list.grid {
	margin-bottom: var(--grid-desktop-vertical-spacing);
}

.collection-list-title {
}

@media screen and (max-width: 749px) {
	.collection-list:not(.slider) {
		padding-left: 0;
		padding-right: 0;
	}
	.section-collection-list .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	.section-collection-list .collection-list:not(.slider) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.collection-list__item:only-child {
	max-width: 100%;
	width: 100%;
}

@media screen and (max-width: 749px) {
	.slider.collection-list--1-items {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.slider.collection-list--1-items,
	.slider.collection-list--2-items,
	.slider.collection-list--3-items,
	.slider.collection-list--4-items {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 750px) {
	.collection-list__item a:hover {
		box-shadow: none;
	}
}

@media screen and (max-width: 989px) {
	.collection-list.slider .collection-list__item {
		max-width: 100%;
	}
}

.collection-list-view-all {
	margin-top: 2rem;
}
