/* General */
.footer {
}

.footer:not(.color-background-1) {
	border-top: none;
}

.footer__content-top {
	display: block;
}

@media screen and (max-width: 749px) {
	.footer .grid {
		display: block;
	}

	.footer-block.grid__item {
		padding: 0;
		margin: var(--grid-desktop-vertical-spacing) 0;
		width: 100%;
		max-width: 100%;
	}

	.footer-block.grid__item:first-child {
		margin-top: 0;
	}
}

@media screen and (min-width: 750px) {
	.footer__content-top .grid {
		row-gap: 6rem;
		margin-bottom: 0;
	}
}

/* Content Bottom */

.footer__content-bottom {
}

.footer__content-bottom:only-child {
	border-top: 0;
}

.footer__content-bottom-wrapper {
	display: flex;
	width: 100%;
}

@media screen and (max-width: 749px) {
	.footer__content-bottom {
		flex-wrap: wrap;
		row-gap: 1.5rem;
	}

	.footer__content-bottom-wrapper {
		flex-wrap: wrap;
		row-gap: 1.5rem;
	}
}

/* .footer__localization:empty + .footer__column--info {
  align-items: flex-start;
} */

@media screen and (max-width: 749px) {
	.footer__localization:empty + .footer__column {
	}
}
.footer__column {
	width: 100%;
	align-items: flex-end;
}

.footer__column--info {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	row-gap: var(--grid-desktop-vertical-spacing);
}

@media screen and (min-width: 990px) {
	.footer__column--info {
		padding: 0 0 3.2rem;
		align-items: flex-start;
		flex-direction: row-reverse;
	}
}

.footer-02 .footer__column--info {
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
	align-items: center;
	flex-direction: column;
}

.footer-block:only-child:last-child {
	text-align: center;
	max-width: 76rem;
	margin: 0 auto;
}

@media screen and (min-width: 750px) {
	.footer-block {
		display: block;
		margin-top: 0;
		min-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
	}
  .footer-04 .footer-block {
    min-width: inherit;
  }
}

/* End Content Bottom */

/* Breadcrumb */

.footer-breadcrumb .page-width {
	padding: 0;
}

.footer-breadcrumb .page-width .breadcrumbs__link,
.footer-breadcrumb .page-width a {
	color: #fff;
}

.footer-breadcrumb .breadcrumbs {
	margin: 0;
	padding: 1.6rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* End Breadcrumb */

/* Newsletter */

.footer-block:empty {
	display: none;
}

.footer__content__left .footer__newsletter {
	max-width: unset;
}

.footer-block--newsletter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer__blocks-wrapper .footer-block--newsletter {
	max-width: unset;
}

@media screen and (max-width: 749px) {
	.footer__blocks-wrapper .footer-block--newsletter {
		width: 100%;
	}
}

.footer-block--newsletter:only-child {
	margin-top: 0;
}

.footer-block--newsletter > * {
	flex: 1 1 100%;
}

@media screen and (max-width: 749px) {
	.footer-block.footer-block--menu:only-child {
		text-align: left;
	}
}

@media screen and (min-width: 750px) {
	.footer-block--newsletter {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.footer .newsletter-form__field-wrapper .field__input {
	height: 5.6rem;
	line-height: 2.4rem;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
}

.field__label {
	transition: all 0.3s;
	top: 50%;
	transform: translateY(-50%);
}

.field__input:not(:placeholder-shown) + .field__label {
	top: 0;
	transform: translateY(10px);
}

.field__input:focus + .field__label {
	top: 0;
	transform: translateY(10px);
}

.color-accent-1 .newsletter-form__field-wrapper .newsletter-form__button,
.color-inverse .newsletter-form__field-wrapper .newsletter-form__button {
	background-color: rgba(255, 255, 255, 0.7);
	color: rgba(var(--color-base-text));
}

.footer-02 .footer-block--newsletter .newsletter__content {
	text-align: center;
	justify-content: center;
}

@media screen and (max-width: 550px) {
	.footer-02 .footer-block--newsletter .newsletter__content {
		flex-direction: column;
	}
}

.footer-02 .footer-block--newsletter .newsletter-form {
	margin: auto;
}

.footer .newsletter-form__button {
	width: 5.6rem;
}

/* End Newsletter */

/* List Social */

.footer-02 .footer-block--main .footer__content__left .footer__list-social {
	flex-wrap: nowrap;
}

/* End List Social */

/* Block Main */

.footer-01 .footer-block--main {
	flex-direction: row-reverse;
}

.footer-02 .footer-block--main {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-02.color-background-1 .footer-block--main,
.footer-02.color-background-2 .footer-block--main {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.footer-block--main .footer__content__left {
	margin-bottom: var(--grid-desktop-vertical-spacing);
}

.footer-02 .footer-block--main .footer__content__right {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3.2rem;
	width: 100%;
}

@media screen and (min-width: 550px) {
	.footer-02 .footer-block--main .footer__content__right {
		grid-template-columns: 1fr 1fr;
	}
}

.footer-02 .footer-block--main .footer__content__right > * {
	padding: 0 3.2rem;
	text-align: center;
}

@media screen and (min-width: 750px) {
	/* Footer 1 */
	.footer-block--main {
		display: flex;
		gap: calc(var(--grid-desktop-horizontal-spacing) * 2);
	}

	.footer-block--main .footer__content__left {
		width: 33.3%;
		margin: 0;
	}

	.footer-block--main .footer__content__right {
		width: calc(100% - 33.3%);
	}

	/* Footer 2 */
	.footer-02 .footer-block--main .footer__content__left {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.footer-02 .footer-block--main .footer__content__right {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 0;
	}

	.footer-02 .footer-block--main .footer__content__right > .footer-block--menu:not(:last-child) {
		border-right: 1px solid rgba(255, 255, 255, 0.1);
	}

	.footer-02.color-background-2 .footer-block--main .footer__content__right > .footer-block--menu:not(:last-child),
	.footer-02.color-background-1 .footer-block--main .footer__content__right > .footer-block--menu:not(:last-child) {
		border-right: 1px solid rgba(0, 0, 0, 0.08);
	}
}

.footer-03 .footer-block--main .footer__content__left > * {
	text-align: left;
}

.footer-04 .footer-block--main .footer__content__left > * {
	text-align: left;
}

.footer-block__heading {
	margin-bottom: 0;
	margin-top: 0;
}

.footer-04 .footer-block__heading{
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
	.footer-block__heading {
		margin: 0;
	}
}

.footer.color-inverse .footer-block__heading,
.footer.color-accent-1 .footer-block__heading {
	color: #fff;
}

.footer.color-inverse .footer__content__left h2,
.footer.color-accent-1 .footer__content__left h2 {
	color: #fff;
	margin: 0 0 1.6rem;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-block--main .footer__content__right .footer-block__heading {
	margin-bottom: 1.6rem;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.028rem;
}

.footer-03 .footer-block--main .footer__content__left .footer__list-social {
	justify-content: flex-start;
	margin-left: -1.4rem;
}

.footer-04 .footer-block--main .footer__content__left .footer__list-social {
	justify-content: flex-start;
	margin-left: -1.4rem;
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
	display: none;
}

.footer__list-social.list-social:only-child {
	justify-content: center;
}

.footer-03 .footer-block__newsletter,
.footer-02 .footer-block__newsletter {
  color: rgba(var(--color-foreground), 0.75);
	padding: 3.2rem 0;
}
.footer-04 .footer-block__newsletter {
  color: rgba(var(--color-foreground), 0.75);
}


.footer-02 .footer-block__newsletter {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-02.color-background-1 .footer-block__newsletter,
.footer-02.color-background-2 .footer-block__newsletter {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.footer-03 .footer-block__newsletter {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-03 .footer-block__newsletter .newsletter__content,
.footer-02 .footer-block__newsletter .newsletter__content {
  display: flex;
	align-items: center;
	gap: 1.8rem;
	margin-bottom: 3.2rem;
}

@media screen and (min-width: 750px) {
  .footer-03 .footer-block__newsletter,
	.footer-02 .footer-block__newsletter {
    align-items: center;
		display: flex;
		gap: calc(var(--grid-desktop-horizontal-spacing) * 2);
	}
	
	.footer-03 .footer-block__newsletter .newsletter__content,
	.footer-02 .footer-block__newsletter .newsletter__content {
		width: 50%;
		text-align: left;
		margin-bottom: 0;
	}

	.footer-04 .footer-block__newsletter .newsletter-form,
	.footer-03 .footer-block__newsletter .newsletter-form,
	.footer-02 .footer-block__newsletter .newsletter-form {
		max-width: unset;
		width: 50%;
	}
}

@media screen and (min-width: 750px) {
	.footer-block__newsletter:not(:only-child) {
		text-align: left;
	}

	.footer-block__newsletter:not(:only-child) .footer__newsletter {
		justify-content: flex-start;
		margin: 0;
	}

	.footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
		left: auto;
	}
}

@media screen and (min-width: 990px) {
	.footer__list-social.list-social {
		margin: 0;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 750px) {
	.footer-02 .footer-block--main .footer__content__left > * {
		text-align: center;
	}

	.footer-02 .footer__content__right .footer-block--menu .footer-block__heading {
		text-align: center;
	}

	.footer-02 .footer__content__right .footer-block--menu .footer-block__details-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* End Block Main */

/* Content Bottom*/

@media screen and (min-width: 990px) {
	.footer__payment {
		margin-top: 0;
		width: 25%;
	}

	.footer__payment .list-payment {
		justify-content: flex-end;
	}

	.footer-02 .footer__payment .list-payment {
		justify-content: center;
	}
}

.footer__copyright {
	font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
	.footer__copyright {
		text-align: right;
	}
}

@keyframes appear-down {
	0% {
		opacity: 0;
		margin-top: -1rem;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}

@media screen and (max-width: 750px) {
	.footer-02 .footer__content-bottom .footer__column--info {
		align-items: center;
	}
}

/* End Content Bottom*/

/* Footer Menu */

.footer-block__details-content {
	margin-bottom: 0;
}

.footer-block__details-content p {
	line-height: 2.8rem;
	margin-top: 0;
}

@media screen and (min-width: 750px) {
	.footer-block__details-content {
		margin-bottom: 0;
	}

	.footer-block__details-content > p,
	.footer-block__details-content > li:not(:last-child) {
		padding: 0;
		margin-bottom: 1.2rem;
	}

	.footer-block:only-child li {
		display: inline;
	}
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
	color: rgba(var(--color-foreground), 0.75);
	line-height: calc(1 + 0.6 / var(--font-body-scale));
}

.footer-block__details-content .list-menu__item--active {
	transition: text-decoration-thickness var(--duration-short) ease;
	color: rgba(var(--color-base-accent-2));
	text-decoration: none;
}

.footer-block__details-content .list-menu__item--link:hover {
	text-decoration: none;
	color: rgba(var(--color-base-accent-2));
}

@media screen and (min-width: 750px) {
	.footer-block__details-content .list-menu__item--link:hover,
	.copyright__content a:hover {
		color: rgba(var(--color-base-accent-2));
	}
}

@media screen and (max-width: 989px) {
	.footer-block__details-content .list-menu__item--link {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media screen and (min-width: 750px) {
	.footer-block__details-content .list-menu__item--link {
		display: inline-block;
		font-size: 1.6rem;
		padding: 0;
	}

	.footer-block__details-content > :first-child .list-menu__item--link {
		padding-top: 0;
	}
}

/* End Footer Menu */

/* Footer Logo */

.footer-02 .footer-block-image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-block-image > img {
	height: auto;
}

/* End Footer Logo */

/* Copy Right */
.copyright__content a {
	color: currentColor;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
}
@media screen and (max-width: 750px) {
	.footer-02 .footer__copyright {
		text-align: center;
	}
}
/* End Copy Right */

/* Localization */

.footer__localization {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	padding: 1rem 1rem 0;
}

.footer__localization:empty {
	display: none;
}

.localization-form {
	display: flex;
	flex-direction: column;
	flex: auto 1 0;
	padding: 1rem;
	margin: 0 auto;
}

.localization-form:only-child {
	display: inline-flex;
	flex-wrap: wrap;
	flex: initial;
	padding: 1rem 0;
}

.localization-form:only-child .button,
.localization-form:only-child .localization-form__select {
	margin: 1rem 1rem 0.5rem;
	flex-grow: 1;
}

.footer__localization h2 {
	margin: 1rem 1rem 0.5rem;
	color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
	.footer__localization {
		padding: 0.4rem 0;
		justify-content: flex-start;
	}

	.localization-form {
		padding: 1rem 2rem 1rem 0;
	}

	.localization-form:first-of-type {
		padding-left: 0;
	}

	.localization-form:only-child {
		justify-content: start;
		width: auto;
		margin: 0 1rem 0 0;
	}

	.localization-form:only-child .button,
	.localization-form:only-child .localization-form__select {
		margin: 1rem 0;
	}

	.footer__localization h2 {
		margin: 1rem 0 0;
	}
}

@media screen and (max-width: 989px) {
	noscript .localization-form:only-child,
	.footer__localization noscript {
		width: 100%;
	}
}

.localization-form .button {
	padding: 1rem;
}

.localization-form__currency {
	display: inline-block;
}

@media screen and (max-width: 749px) {
	.localization-form .button {
		word-break: break-all;
	}
}

.localization-form__select {
	border-radius: var(--inputs-radius-outset);
	position: relative;
	margin-bottom: 1.5rem;
	padding-left: 1rem;
	text-align: left;
	min-height: calc(4rem + var(--inputs-border-width) * 2);
	min-width: calc(7rem + var(--inputs-border-width) * 2);
}

.disclosure__button.localization-form__select {
	padding: calc(2rem + var(--inputs-border-width));
	background: rgb(var(--color-background));
}

noscript .localization-form__select {
	padding-left: 0rem;
}

@media screen and (min-width: 750px) {
	noscript .localization-form__select {
		min-width: 20rem;
	}
}

.localization-form__select .icon-caret {
	position: absolute;
	content: '';
	height: 0.6rem;
	right: calc(var(--inputs-border-width) + 1.5rem);
	top: calc(50% - 0.2rem);
}

.localization-selector.link {
	text-decoration: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: rgb(var(--color-foreground));
	width: 100%;
	padding-right: 4rem;
	padding-bottom: 1.5rem;
}

noscript .localization-selector.link {
	padding-top: 1.5rem;
	padding-left: 1.5rem;
}

.disclosure .localization-form__select {
	padding-top: 1.5rem;
}

.localization-selector option {
	color: #000000;
}

.localization-selector + .disclosure__list-wrapper {
	margin-left: 1rem;
	opacity: 1;
	animation: animateLocalization var(--duration-default) ease;
}

/* End Localization */

@keyframes animateLocalization {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	100% {
		opacity: 1;
		transform: translateY(-1rem);
	}
}

.footer .disclosure__link {
	padding: 0.95rem 3.5rem 0.95rem 2rem;
	color: rgba(var(--color-foreground), 0.75);
}

.footer .disclosure__link:hover {
	color: rgb(var(--color-foreground));
}

.footer .disclosure__link--active {
	text-decoration: underline;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
	@media screen and (max-width: 749px) {
		.footer .grid {
			margin-left: 0;
		}
	}

	@media screen and (min-width: 750px) {
		.footer__content-top .grid {
			margin-left: -3rem;
		}

		.footer__content-top .grid__item {
			padding-left: 3rem;
		}
	}
}
