/* Container */
.contact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  list-style: none;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .contact {
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}

/* Layout */
.contact-form {
}

.contact-information + .contact-form {
  margin-top: calc(var(--grid-desktop-vertical-spacing) * 2);
}

.contact-information-wrap {
  display: flex;
}

.contact-information-wrap + .contact-information-wrap {
  margin-top: 4.8rem;
}

.contact-information-wrap .contact-img {
  margin-right: 4rem;
}

.contact-information-wrap .contact-img {
  color: rgba(var(--color-base-accent-2));
  fill: rgba(var(--color-base-accent-2));
  width: 4.8rem;
  height: 4.8rem;
}

.contact-information-wrap h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-information-wrap h3 + .contact-description {
  margin-top: 1.6rem;
}

.contact-description a {
  color: inherit;
}

/* Image */
.contact img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.contact-more {
  margin: 0 0 1.2rem;
  display: flex;
}

.contact-more span {
  margin-right: 1rem;
}

.contact-more span svg {
  width: 1.6rem;
  height: auto;
}

/* Title */
@media screen and (min-width: 990px) {
  .contact-form .title {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
}

.contact .form__message {
  align-items: flex-start;
  font-size: calc(var(--font-body-scale) * 1.2rem);
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact-form .field__label {
  position: unset;
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 10px;
  line-height: 1;
  transform: unset;
}

.contact .field {
  margin-bottom: 1.5rem;
  flex-wrap: nowrap;
}

.contact-form input:focus,
.contact-form .field__input:not(:placeholder-shown) {
  padding: 1.2rem 1.6rem;
}

.contact__button {
  margin-top: var(--grid-desktop-vertical-spacing);
}

.contact .text-area.field__input {
  min-height: 27rem;
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.link-web {
  color: var(--color-base-text);
}