/* Header 04 */
#shopify-section-header-04 {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.header-wrapper {
    z-index: 7;
}

.shopify-section-header-sticky {
    z-index: 7;
}

.header-04 {
    display: grid;
    align-items: center;
    align-items: center;
    column-gap: 1.2rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

@media screen and (min-width: 1200px) {
    .header-04 {
        column-gap: 2.4rem;
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }
}

.header-04.header-layout-logo-menu-icons {
    grid-template-areas: "heading navigation icons";
    grid-template-columns: auto auto 1fr;
}

.header-04.header-layout-menu-logo-icons {
    grid-template-areas: "navigation heading icons";
    grid-template-columns: 3fr 1fr 3fr;
}

.header-04.header-layout-menu-logo-icons .header__heading, 
.header-04.header-layout-menu-logo-icons .header__heading-link {
    justify-self: center;
}

@media screen and (max-width: 989px) {
    .header-04 {
        padding: 1.2rem 2.4rem;
    }

    .header-04.header-layout-menu-logo-icons {
        grid-template-areas: "heading icons";
        grid-template-columns: 1fr 2fr;
    }

    .header-04.header-layout-menu-logo-icons .header__heading, 
    .header-04.header-layout-menu-logo-icons .header__heading-link {
        justify-self: self-start;
    }
}

.header > .header__heading, 
.header > .header__heading-link {
    width: auto;
    text-transform: uppercase;
}

.header > .header__heading > .header__heading-link {
    padding: 0;
    margin-left: 0;
}

.header--middle-left .header__inline-menu {
    margin-left: 0;
}

.header:not(.header--middle-left) .header__inline-menu {
    margin-top: 0;
}

.header__inline-menu {
    margin-left: 0;
}

.header__icons {
    justify-self: end;
    width: auto;
}

.header__icon--cart {
    margin-right: 0;
}

.header header-drawer {
    width: auto;
}

.header:not(.header--top-center) * > .header__search,
.header .header__icon--cart,
.header header-drawer {
    height: 100%;
    align-items: center;
    width: auto;
}

.cart-count-bubble {
    right: 0rem;
    top: 0rem;
}

.header .off-canvas span {
    justify-content: center;
}

/* Menu */
.header-layout-menu-logo-icons .list-menu--inline > li:first-child .header__menu-item {
    padding-left: 0;
}

.header__menu-item > span {
    position: relative;
}

.header__menu-item > .header__active-menu-item,
.header__menu-item:hover span {
    color: rgba(var(--color-base-accent-2));
}

.header-04 .menu-drawer__utility-links {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 989px) { 
    .header-04 .header__icons .header__search {
        display: none;
    }
    
    .header-04 .menu-drawer__navigation-container {
        display: block;
    }

    .header-04 header-drawer .search-wrap {
        justify-self: auto;
        padding: 2.4rem 3.2rem 0;
    }

    .header-04 header-drawer .search-wrap .search__button {
        top: 0.8rem;
    }

    .header-04 .menu-drawer__utility-links {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    .header-04 .menu-drawer__navigation {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }

    .header-04 .menu-drawer .list-social,
    .header-04 .menu-drawer__account {
        margin: 0;
    }
}

@media screen and (max-width: 749px) {
    .header-04 .menu-drawer__account {
        padding: 0;
    }

    .header-04 .menu-drawer__account .icon-account {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .header-04 .menu-drawer__account {
        margin-bottom: 2.4rem;
    }

    .header-04 .menu-drawer__utility-links {
        flex-flow: column;
    }

    .header-04 .menu-drawer .list-social__link {
        padding-left: 0;
    }
}