.footer-06.color-accent-2 {
	border-top: 1px solid rgba(0,0,0,0.08);
}

.footer-06 .footer-block--main {
	padding: 6.4rem 0;
	display: block;
}

.footer-06 .footer-block {
	min-width: 0;
}

.footer-06 .footer-block h2 {
	margin-top: 2.8rem;
	margin-bottom: 0.8rem;
}

.footer-06 .footer-block--menu .footer-block__heading {
	margin-top: 0;
	margin-bottom: 2.4rem;
}

.footer-06 .footer-block__newsletter {
  color: rgba(var(--color-foreground), 0.75);
	padding: 0 0 6.4rem;
}

.footer-06 .footer-block__newsletter {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-06 .newsletter__heading {
	margin-top: 0;
}

.footer-06 .newsletter-form__button {
	--color-button: var(--color-background);
	--color-button-text: 255, 255, 255;
	margin-left: 1.6rem;
}

.footer-06.color-accent-2 .newsletter-form__field-wrapper .field__input {
	background-color: #fff;
	border: var(--text-boxes-border-width) solid #1E293B;
}

.footer-06 .footer__list-social,
.footer-06 .footer-block__details-content .button {
	margin-top: 4rem;
}

.footer-06 .list-social__link {
	background: rgb(var(--color-foreground));
	color: #fff;
	border-radius: 50%;
}

.footer-06 .list-social__item + .list-social__item {
	margin-left: 1.8rem;
}

@media screen and (min-width: 750px) {
  .footer-06 .footer-block__newsletter {
    align-items: center;
		display: flex;
		gap: calc(var(--grid-desktop-horizontal-spacing) * 2);
	}
	
	.footer-06 .footer-block__newsletter .newsletter__content {
		width: 50%;
		text-align: left;
		margin-bottom: 0;
	}

	.footer-06 .footer-block__newsletter .newsletter-form {
		max-width: unset;
		width: 50%;
	}
}

.footer-06 .footer__content__box {
	border-radius: 0.8rem;
	padding: 6.4rem;
	margin-top: 6.4rem;
}

.footer-06 .footer__column--info {
	padding-bottom: 0;
	text-align: center;
	display: block;
}

.footer-06 .footer__column--info .footer__copyright {
	text-align: center;
}